//Importações scss
@use 'variaveis';
@use 'hero';
@use 'sobre';
@use 'mixins';
@use 'footer';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    max-width: 80vw;
    margin: 0 auto;
}

body{
    background-color: variaveis.$corDeFundo;
    color: variaveis.$corTextoPrincipal;
    font-family: 'Poppins', sans-serif;
}
